:root {
  --linear-bg: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --soft-black: #201e1c;
  --grey: #bababa;
  --soft-white: #faf8f7;
  --white-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  --black-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  --sm: 1.4rem;
  --md: 1.8rem;
  --lg: 2.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--soft-white);
}
h1 {
  font-size: var(--lg);
  margin-bottom: 24px;
}

h2 {
  font-size: var(--md);
}

p,
h3 {
  font-size: var(--sm);
}

header {
  min-height: 332px;
  min-width: 320px;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

header img {
  margin-bottom: 32px;
}

.header_title-container {
  width: 90%;
}

.header_title-container p {
  color: var(--soft-orange);
  font-size: var(--sm);
}

header a {
  position: relative;
  top: 76px;
  width: 232px;
  height: 48px;
  background-color: var(--soft-white);
  box-shadow: var(--white-shadow);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: var(--sm);
  font-weight: 700;
  color: black;
}

header a > span {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background-image: url(assets/icons/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

main {
  min-width: 320px;
}

.main_exchange {
  min-height: 100vh;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.main_exchange div > p {
  color: gray;
}

.main_exchange-tables {
  display: flex;
  justify-content: center;
}

.main_exchange-tables > img:first-child {
  transform: scaleX(-1);
}

.main_exchange-tables > img {
  margin: 0 16px;
}
.main_exchange-tables h2 {
  color: var(--bitcoin-orange);
  text-align: left;
  margin-bottom: 12px;
}

.main_exchange-tables td {
  width: 100px;
  height: 40px;
  font-size: var(--sm);
  background-color: white;
  font-family: "Inter", sans-serif;
  color: gray;
  padding: 0 8px;
}

.main_exchange-tables tr > td:first-child {
  font-size: 1.6rem;
  text-align: left;
}

.main_exchange-tables tr > td:last-child {
  width: 120px;
}

.main_features {
  background-color: var(--soft-black);
  min-height: 100vh;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.main_features p {
  color: #808080;
  margin-bottom: 32px;
}

.main_features div {
  margin-bottom: 16px;
}

.main_features-box-container {
  width: 95%;
  height: 152px;
  background-color: #282623;
  padding: 16px;
  text-align: left;
  border-radius: 8px;
}

.main_features-box-container > *:not(:last-child) {
  margin-bottom: 12px;
}

.main_cover img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.main_landing {
  height: 75vh;
  padding: 48px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main_landing p {
  color: #757575;
}

.main_landing-plan {
  width: 192px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--white-shadow);
  padding: 0 16px 24px 16px;
}

.main_landing-plan:hover {
  scale: 1.05;
  transition: 0.5s;
}

.main_landing-plan > h3:first-child {
  background-color: var(--bitcoin-orange);
  color: white;
  font-size: 1.2rem;
  width: 100px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 16px;
}

.main_landing-plan div {
  display: flex;
}

.main_landing-plan div > h1 {
  font-size: 5.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.main_landing-plan-hint {
  font-size: 1.2rem;
}

.main_landing-plan a {
  font-size: var(--sm);
  font-weight: 700;
  text-decoration: none;
  color: black;
  width: 152px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid var(--bitcoin-orange);
}

.main_landing-plan a > span {
  width: 15px;
  height: 15px;
  background-image: url(assets/icons/orange-right-arrow.svg);
  background-size: contain;
  margin-left: 8px;
}

footer {
  height: 25vh;
  min-width: 320px;
  background-color: var(--bitcoin-orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 64px;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div > p {
  margin-bottom: 8px;
}

footer a {
  text-decoration: none;
  font-size: var(--sm);
  color: var(--soft-orange);
}

footer a:hover {
  text-decoration: underline;
}